/*body,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  color: inherit;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #948B89; }

.grid-container-start {
  background-color: #B6A39E;
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "top top top top top nav" "next-event next-event next-event next-event next-event next-event " "lunches lunches lunches lunches lunches lunches" "booking booking booking booking booking booking" "current-events current-events current-events current-events current-events current-events" "main main main main main main" "footer footer footer footer footer footer"; }

.grid-container-menu {
  background-color: #B6A39E;
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "top top top top top nav" "top-menu top-menu top-menu top-menu top-menu top-menu" "main main main main main main" "sidebar sidebar sidebar sidebar sidebar sidebar" "footer footer footer footer footer footer"; }

.grid-container-about {
  background-color: #B6A39E;
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "top top top top top nav" "top-about top-about top-about top-about top-about top-about" "main main main main main main" "footer footer footer footer footer footer"; }

header {
  grid-area: top;
  padding: 10vw 0 10vw 0;
  display: flex; }
  header h1 {
    padding: 1.5vw;
    font-size: 2rem;
    justify-content: flex-start; }

nav {
  grid-area: nav;
  font-family: 'Cabin', sans-serif;
  display: flex;
  justify-content: flex-start;
  /**/
  /*div.menu {
        position: relative;
    }*/ }
  nav img {
    padding: 1rem 1rem 0 0; }
  nav div.menu-content {
    display: none;
    /*position: absolute;*/
    border: solid 0.5px #726E75;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #726E75; }
  nav div.menu:hover .menu-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #B6A39E; }

section.top-menu {
  grid-area: top-menu;
  background-image: url("../img/bg-menu.jpg");
  background-size: cover; }

section.top-about {
  grid-area: top-about;
  background-image: url("../img/bg-plants.jpg");
  background-size: cover; }

main {
  grid-area: main;
  background-color: #DDE0BD; }

aside {
  grid-area: sidebar;
  background-color: #DDE0BD; }

main article.menu, aside article.menu {
  background-color: #D0D1AC;
  margin: 0.5rem;
  border-radius: 3px; }

section.gallery {
  grid-area: gallery;
  background-color: #B6A39E;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; }

footer {
  grid-area: footer;
  background-color: #D0D1AC;
  display: flex;
  justify-content: space-around;
  padding: 2vh 0vh 5vh 0vh; }
  footer p {
    font-size: 0.7rem; }

h1, h2, h3, h4, h5 {
  font-family: 'Lobster', cursive; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1rem; }

h4 {
  font-size: 0.8rem; }

p {
  font-family: 'Cabin', sans-serif; }

a {
  text-decoration: none; }

.next-event {
  grid-area: next-event;
  background-image: url("../img/bg-wine.jpg");
  background-size: cover; }

.lunches {
  grid-area: lunches;
  background-color: #DDE0BD; }
  .lunches h3 {
    grid-column: 1/3; }
  .lunches p {
    grid-column: 3/7; }

.booking {
  grid-area: booking;
  background-image: url("../img/bg-plate.jpg");
  background-size: cover; }
  .booking a h2:hover {
    color: #726E75;
    transform: scale(1.2); }

.current-events {
  grid-area: current-events;
  background-color: #DDE0BD; }
  .current-events h3 {
    grid-column: 1/4; }
  .current-events p {
    grid-column: 4/7; }

.lunches, .current-events {
  display: grid;
  grid-template-columns: repeat(6, 1fr); }
  .lunches h2, .current-events h2 {
    grid-column: 1/7;
    margin: auto; }

section.top-menu, section.top-about, .next-event, .booking {
  display: flex;
  justify-content: center;
  align-items: center; }
  section.top-menu h2, section.top-about h2, .next-event h2, .booking h2 {
    margin: 10vw;
    padding: 5vw;
    border: 0.5px solid #B6A39E; }

main article.menu, aside article.menu, main article.about-text, .lunches, .current-events {
  padding: 1rem 0.5rem 1rem 0.5rem; }
  main article.menu h3, aside article.menu h3, main article.about-text h3, .lunches h3, .current-events h3 {
    margin: 2.2vh 0 0 0; }
  main article.menu p, aside article.menu p, main article.about-text p, .lunches p, .current-events p {
    font-size: 0.8rem;
    margin: 2.2vh 0 0 0; }

@media screen and (min-width: 321px) {
  body {
    background-color: #B6A39E; }
  header {
    background-color: #B6A39E; }
  .grid-container-menu {
    /*background-color: $brown-gray;
        max-width: 800px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);*/
    grid-template-areas: "top top top top nav nav" "top-menu top-menu top-menu top-menu top-menu top-menu" "main main main sidebar sidebar sidebar" "footer footer footer footer footer footer"; } }
